/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Variables */
:root {
	--color-surface-low: #141414;
	--color-surface: #202020;
	--color-surface-high: #0b0b0b;
	--color-subhead-text: #adadad;
	--color-accent: #ffffff;
	--color-bg: #141414;
	--color-black: #000;
	--color-text: #adadad;
	--max-width: 75rem;
	--content-max-width: 800px;

	--font-light: 300;
	/* Light */
	--font-regular: 400;
	/* Regular */
	--font-medium: 500;
	/* Medium */
	--font-semibold: 600;
	/* SemiBold */
	--font-bold: 700;
	/* Bold */

	--foody-bag-bg: linear-gradient(to top, #2c2271, #5646cf);
	--the-maintain-app-bg: linear-gradient(to bottom, #566549, #718560);
}

/* Base styles */
html {
	font-size: 1.12125rem;
	scroll-behavior: smooth;
	background-color: var(--color-bg);
}

body {
	font-family: "Hind Madurai", sans-serif;
	color: var(--color-text);
	line-height: 1.4rem;
	letter-spacing: 0.25px;
	min-height: 100vh;
	display: none;
	flex-direction: column;
	background-color: var(--color-bg);
	margin: 0 auto;
}

/* Header styles */
header {
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(25px);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}

nav,
#hero,
#portfolio,
#timeline-container,
#investments,
#get-in-touch,
#project-passport,
.block-content {
	padding-left: 3rem;
	padding-right: 3rem;
}

#back-to-top {
	opacity: 0;
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 100;
	background-color: var(--color-accent);
	color: var(--color-surface-low);
	padding: 0.8rem;
	border-radius: 4rem;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease;
	display: flex;
}

#back-to-top img {
	width: 1.6rem;
	height: 1.6rem;
}

/* Navigation styles */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: var(--max-width);
	margin: 0 auto;
}

#logo {
	font-weight: var(--font-bold);
}

#logo span {
	display: inline-flex;
	flex-direction: row;
}

#logo .full-name{
	width: 0;
	opacity: 0;
	overflow: hidden;
	transition: all 0.6s ease;
}

#logo:hover .full-name {
	width: 80px;
	opacity: 1;
}

#logo .dots{
	opacity: 1;
	transition: all 0.6s ease;
}

#logo:hover .dots{
	opacity: 0;
}

.nav-menu ul {
	padding: 1.5rem 0;
	display: flex;
	justify-content: flex-end;
	gap: 3rem;
	list-style: none;
}

.nav-menu a {
	text-decoration: none;
	color: #ffffff;
	font-weight: --font-semibold;
	font-size: 1.125rem;
	transition: color 0.3s ease;
}

.nav-menu a:hover {
	color: #d6d6d6;
}

.nav-menu a.active {
	position: relative;
}

.nav-menu a.active::before {
	content: "";
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: #ffffff;
	border-radius: 50%;
	left: 50%;
	bottom: -45%;
	transform: translateY(-50%);
}

.hero-interactive {
	display: flex;
	place-items: flex-end;
}

div .cursor {
	display: inline-block;
	position: relative;
	top: 0;
	left: 65%;
	transform: translate(0, -20%);
	opacity: 0;
	transition: opacity 0.3s ease,
		transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	padding: 4rem 0;
}

div:hover .cursor {
	opacity: 1;
	transform: translate(-5%, -22%);
	/* Adjust this value for the bounce height */
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	margin-bottom: 1rem;
	color: var(--color-accent);
}

h1 {
	font-size: 3.5rem;
	line-height: 4rem;
}

h2 {
	font-size: 2.75rem;
	line-height: 3.25rem;
}

h3 {
	font-size: 2.25rem;
	line-height: 2.75rem;
}

h4 {
	font-size: 2rem;
	line-height: 2.5rem;
}

h5 {
	font-size: 1.75rem;
	line-height: 2.25rem;
}

h6 {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 600;
	color: var(--color-subhead-text);
}

.second-line {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 500;
	color: var(--color-accent);
}

.text-translucent {
	color: var(--color-accent);
	opacity: 0.6;
}

p {
	margin-bottom: 0.5rem;
}

.scaling-effect {
	transition: all 100ms;
}

.scaling-effect:hover {
	transform: scale(1.04);
}

.simple-list li {
	list-style: none;
	margin-bottom: 1.5rem;
}

.simple-list {
	margin: 0 !important;
}

.accent {
	color: var(--color-accent);
}

/* Buttons */
.primary-button {
	display: inline-block;
	padding: 0.6rem 1rem 0.5rem 1rem;
	background-color: var(--color-accent);
	color: var(--color-black);
	border-radius: 4rem;
	font-size: 1rem;
	letter-spacing: 0.15px;
	font-weight: var(--font-medium);
	text-decoration: none;
	transition: all 100ms;
	backface-visibility: hidden;
	user-select: none;
	vertical-align: middle;
	will-change: transform;
	-webkit-font-smoothing: antialiased;
}

.primary-button:hover {
	background-color: #eeeeee;
	transform: scale(1.04);
}

.primary-button:active {
	transform: scale(1);
	background-color: #d9d9d9;
}

.primary-button:focus {
	outline: none;
}

.primary-button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.tertiary-button {
	display: flex;
	padding: 0;
	align-items: center;
	font-size: 1rem;
	font-weight: var(--font-regular);
	text-decoration: none;
	color: var(--color-accent);
	transition: opacity 0.3s ease;
}

.tertiary-button:hover {
	opacity: 0.8;
}

.tertiary-button .trailing {
	margin-left: 0.5rem;
}

.tertiary-button .external {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background-image: url("images/icn-external.svg");
	background-position-y: center;
	background-repeat: no-repeat;
}

/* Homescreen styles */
#hero {
	display: flex;
	vertical-align: middle;
	justify-content: space-between;
	align-items: end;
	max-width: var(--max-width);
	padding-top: 8rem;
}

.superhero {
	font-size: 1rem;
	line-height: 1.4rem;
	max-width: 500px;
}

.card-content {
	margin-bottom: 4.5rem;
}

.socials {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
}

.socials a {
	transition: transform 150ms;
}

.socials a:hover {
	transform: scale(1.1);
}

/* Portfolio section */
#portfolio {
	background-color: var(--color-black);
}

.projects-container {
	max-width: var(--max-width);
	margin: 0 auto;
}

.project-details {
	margin-top: 2rem;
}

.project {
	display: flex;
	gap: 4rem;
	padding: 6rem 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.project:nth-child(odd) {
	flex-direction: row-reverse;
}

.project:last-child {
	border-bottom: none;
}

.project-visual {
	display: contents;
}

.project img {
	width: auto;
	max-width: 100%;
	height: 100%;
	transition: all 150ms ease;
}

.project img:hover {
	transform: scale(1.04);
}

.labels {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin: 1.5rem 0;
}

.labels span {
	display: inline-block;
	padding: 0.25rem 0.75rem;
	background-color: #202020;
	border-radius: 4rem;
}

.links {
	margin: 1.5rem 0 0 0;
	display: flex;
	gap: 2rem;
}

/* Timeline */
#timeline-container {
	max-width: var(--max-width);
	margin: 0 auto;
	padding-top: 5rem;
	padding-bottom: 4rem;
}

.timeline {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2rem 0 0 0;
	padding: 1.5rem 0 0 0;
}

.timeline::before {
	content: "";
	position: absolute;
	top: 1.7rem;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #ffffff;
}

.timeline-point {
	position: relative;
	flex: 1;
	text-align: left;
	padding: 2.8rem 0 0 0;
}

.timeline-point::before {
	content: "";
	position: absolute;
	top: -10px;
	left: 0.75rem;
	transform: translateX(-50%);
	width: 1.5rem;
	height: 1.5rem;
	background-color: #1a1a1a;
	border: 2px solid var(--color-accent);
	border-radius: 50%;
	z-index: 1;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.1);
	transition: all 0.3s ease;
}

.timeline-point:last-child::before {
	background-color: transparent;
	border: 0.5rem solid #ffffff;
	width: 0.8rem;
	height: 0.8rem;
	box-shadow: none;
	background-color: #000000;
}

.timeline-point:hover::before {
	transform: translateX(-50%) scale(1.2);
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
}

.timeline-date {
	font-size: 0.9rem;
	opacity: 0.7;
}

.timeline-company {
	font-weight: 600;
	color: var(--color-accent);
}

.timeline-role {
	opacity: 0.7;
}

/* Time investment */
#investments {
	max-width: var(--max-width);
	margin: 0 auto;
	padding-top: 3rem;
	padding-bottom: 6rem;
}

.game-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-auto-flow: row;
	gap: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.game-card {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.game-card p {
	margin: 0;
}

footer {
	background-color: var(--color-black);
}

#crafter-with-love {
	margin-top: 3rem;
	border-top: 1px solid #141414;
	padding-top: 1rem;
	color: #7e7e7e;
	font-size: 0.9rem;
}

#get-in-touch {
	max-width: var(--max-width);
	margin: 0 auto;
	padding-top: 5rem;
	padding-bottom: 4rem;
}

/* Case study */
#project-header {
	padding-top: 4.5rem;
	height: 42rem;
}

.foody-bag {
	background: var(--foody-bag-bg);
}

.the-maintain-app {
	background: var(--the-maintain-app-bg);
}

.golf-reflex {
	background: linear-gradient(to top right, #050112, #5c10b1, #d06716);
}

#project-passport {
	display: flex;
	max-width: var(--max-width);
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	height: 37.5rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.project-passport-details {
	min-width: 25rem;
}

#project-title {
	height: 14.5rem;
	display: flex;
	align-items: end;
}

.hero-image {
	max-width: 70%;
	position: relative;
	bottom: -4.5rem;
	z-index: 0;
}

.project-labels {
	display: flex;
	gap: 4rem;
	margin-top: 4rem;
}

.project-labels p {
	margin: 0;
}

#case-study {
	background-color: var(--color-bg);
}

.case-study-block {
	padding: 4rem 0;
}

.case-study-block:last-child {
	padding-bottom: 0;
}

.accent-bg {
	background-color: var(--color-black);
}

/* Content */
.block-content {
	max-width: var(--content-max-width);
	margin: 0 auto;
	padding-bottom: 4rem;
}

.block-content:last-child {
	padding-bottom: 0;
}

.block-content ul {
	margin-left: 2.5rem;
}

.citation {
	font-size: 1.2rem;
	line-height: 1.7rem;
	color: var(--color-accent);
	font-weight: 100;
	border-left: 4px solid #adadad;
	padding-left: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.overview {
	background-color: var(--color-surface);
	border-radius: 1rem;
	padding: 2rem;
	font-size: 1.2rem;
	line-height: 1.7rem;
	font-weight: 100;
	color: var(--color-accent);
}

.overview p {
	margin: 0;
}

.full-size-image {
	padding-bottom: 4rem;
	padding-left: 2rem;
	padding-right: 2rem;
	text-align: center;
}

.full-size-image img {
	width: 100%;
	max-width: 1400px;
	height: auto;
}

.full-size-image:last-child {
	padding-bottom: 0;
}

.reflection {
	text-align: center;
}

.reflection img {
	width: 100%;
	height: auto;
}

.block-content img {
	max-width: 100%;
	margin: 2rem 0;
}

/* Feature Cards */
.feature-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-flow: row;
	gap: 1rem;
	padding: 1rem 0;
}

.feature-card {
	background-color: var(--color-surface);
	border-radius: 1rem;
	padding: 1.3rem;
	display: flex;
	gap: 1.3rem;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	height: 100%;
}

.target-audience {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-flow: row;
	gap: 1rem;
	padding: 1rem 0;
}

.target-audience-card {
	display: flex;
	gap: 1.3rem;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	height: 100%;
}

.feature-card img {
	width: 2rem;
	height: 2rem;
	margin: 0;
}

.feature-card p.accent {
	font-weight: 600;
	margin-bottom: 0.5rem;
	color: var(--color-accent);
}

.feature-card p {
	color: var(--color-subhead-text);
	line-height: 1.3rem;
	margin-bottom: 0;
}

/* Numbered Blocks */

.target-audience,
.target-audience-card {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
	padding: 1rem 0;
}

.target-audience-card {
	display: flex;
	gap: 1.3rem;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	height: 100%;
}

.target-audience-card .number {
	width: 58px;
	height: 58px;
	min-width: 58px;
	min-height: 58px;
	padding-top: 3px;
	border-radius: 50%;
	background-color: var(--color-surface);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	color: var(--color-accent);
	font-size: 1.3rem;
}

.target-audience-card img {
	width: 2rem;
	height: 2rem;
	margin-bottom: 1rem;
}

.target-audience-card p.accent {
	font-weight: 600;
	margin-bottom: 0.5rem;
	color: var(--color-accent);
}

.target-audience-card p {
	color: var(--color-subhead-text);
	line-height: 1.3rem;
	margin-bottom: 0;
}

.mini-gallery {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
}

.mini-gallery video,
.mini-gallery img {
	max-width: 240px;
	border-radius: 1rem;
	/* Adjust the value as needed for desired roundness */
}

.two-column-section {
	display: flex;
	justify-content: space-around;
	gap: 20px;
	flex-wrap: wrap;
}

.two-column-section .column {
	flex: 1;
	min-width: 300px;
	/* Adjust as needed */
	display: flex;
	flex-direction: column;
}

.two-column-section .column img {
	max-width: 100%;
	height: auto;
	margin-bottom: 1rem;
}

/* Media Queries */

/* Small devices (mobile phones, up to 576px) */
@media (max-width: 576px) {
	nav,
	#hero,
	#portfolio,
	#timeline-container,
	#investments,
	#get-in-touch,
	.block-content,
	.full-size-image,
	#get-in-touch,
	#investments,
	#project-passport {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	nav{
		flex-direction: column;
		padding-top: 1.5rem;
	}

	#hero {
		padding-top: 5rem;
		margin-top: 5rem;
		text-align: center;
	}

	.links {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#hero > img,
	.hero-interactive {
		display: none;
	}

	.nav-menu ul {
		gap: 2rem;
		justify-content: center;
	}

	.project-passport-details {
		min-width: auto;
	}

	#get-in-touch {
		text-align: center;
	}

	#project-passport {
		display: flex;
		flex-direction: column-reverse;
	}

	#project-title {
		height: auto;
		margin-top: 2rem;
		font-size: 2rem;
		line-height: 2.6rem;
	}

	#project-header,
	#project-passport {
		height: auto;
	}

	.hero-image {
		max-width: 100%;
		bottom: auto;
	}

	.project,
	.project:nth-child(even),
	.project:nth-child(odd) {
		flex-direction: column-reverse;
	}

	.project {
		padding: 3rem 0;
	}

	.timeline {
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
	}

	.timeline::before {
		top: 0;
		bottom: 0;
		left: 12px;
		width: 2px;
		height: auto;
	}

	.timeline-point {
		padding-top: 0;
		padding-left: 54px;
		margin-bottom: 60px;
		text-align: left;
	}

	.timeline-point::before {
		top: 0;
	}

	.socials {
		justify-content: center;
	}

	#get-in-touch h6 {
		font-size: 1rem;
	}

	.mini-gallery video,
	.mini-gallery img {
		max-width: 30%;
		border-radius: 0.5rem;
	}
}

/* Medium devices (tablets, 577px and up) */
@media (min-width: 577px) and (max-width: 768px) {
	#project-passport {
		display: flex;
		flex-direction: column-reverse;
	}

	.card-content,
	.superhero {
		text-align: center;
		margin: 0 auto;
	}

	#project-title {
		height: auto;
		margin-top: 2rem;
	}

	#project-header,
	#project-passport {
		height: auto;
	}

	.hero-image {
		max-width: 100%;
		bottom: auto;
	}

	.links {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#hero {
		padding-top: 5rem;
		padding-bottom: 5rem;
		margin-top: 4rem;
		text-align: center;
	}

	#hero .socials {
		justify-content: center;
	}

	#hero > img,
	.hero-interactive {
		display: none;
	}

	.socials {
		justify-content: center;
	}

	.timeline {
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
	}

	.timeline::before {
		top: 0;
		bottom: 0;
		left: 12px;
		width: 2px;
		height: auto;
	}

	.timeline-point {
		padding-top: 0;
		padding-left: 54px;
		margin-bottom: 60px;
		text-align: left;
	}

	.timeline-point::before {
		top: 0;
	}

	.project,
	.project:nth-child(even),
	.project:nth-child(odd) {
		flex-direction: column-reverse;
	}

	.feature-cards {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}

	#get-in-touch {
		text-align: center;
	}

	.mini-gallery video,
	.mini-gallery img {
		max-width: 30%;
	}
}

/* Large devices (desktops, 769px and up) */
@media (min-width: 769px) and (max-width: 992px) {
	/* Styles for large devices */
	#project-passport {
		display: flex;
		flex-direction: column-reverse;
	}

	#project-title {
		height: auto;
		margin-top: 2rem;
	}

	#project-header,
	#project-passport {
		height: auto;
	}

	.card-content,
	.superhero {
		text-align: center;
		margin: 0 auto;
	}

	.links {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.hero-image {
		max-width: 100%;
		bottom: auto;
	}

	#hero {
		padding-top: 5rem;
		padding-bottom: 5rem;
		margin-top: 4rem;
	}

	.superhero {
		max-width: 70%;
	}

	#hero > img,
	.hero-interactive {
		display: none;
	}

	.project,
	.project:nth-child(even),
	.project:nth-child(odd) {
		flex-direction: column-reverse;
	}

	.project img {
		max-width: 100%;
	}

	.timeline {
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
	}

	.timeline::before {
		top: 0;
		bottom: 0;
		left: 12px;
		width: 2px;
		height: auto;
	}

	.timeline-point {
		padding-top: 0;
		padding-left: 54px;
		margin-bottom: 60px;
		text-align: left;
	}

	.timeline-point::before {
		top: 0;
	}

	.game-cards {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	.feature-cards {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}

	.mini-gallery video,
	.mini-gallery img {
		max-width: 200px;
	}
}

/* Extra large devices (large desktops, 993px and up) */
@media (min-width: 993px) and (max-width: 1200px) {
	/* Styles for extra large devices */
	#project-passport {
		display: flex;
		flex-direction: column-reverse;
	}

	#project-title {
		margin-top: 3rem;
		height: auto;
	}

	#project-header,
	#project-passport {
		height: auto;
	}

	.hero-image {
		max-width: 100%;
		bottom: auto;
	}

	#timeline-container{
		padding-top: 5rem;
		padding-bottom: 3rem;
	}

	#investments {
		padding-bottom: 6rem;
	}

	.game-cards {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}

	.project img {
		width: 50%;
	}
}

/* XXL devices (larger desktops, 1201px and up) */
@media (min-width: 1201px) {
	/* Styles for XXL devices */
	nav,
	#hero,
	#portfolio,
	#timeline-container,
	#investments,
	#get-in-touch,
	#project-passport,
	.block-content {
		margin: 0 auto;
	}

	.container {
		max-width: var(--max-width);
		margin: 0 auto;
	}

	.project {
		flex-direction: row;
	}

	.project img {
		max-width: 536px;
	}
}
